<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>About Me</h3>
      <p>software engineer</p>
    </div>
    <div class="footer-column">
      <h3>Contact</h3>
      <p>Email: <a href="mailto:alamdalla11@gmail.com">{{email}}</a></p>
      <p>Phone: +216 28719397</p>
    </div>
    <div class="footer-column">
      <h3>Follow Me</h3>
      <p>
        <a href="linkedin.com/in/ala-mdalla" target="_blank">LinkedIn</a> | 
        <a href="https://github.com/AlaMdalla" target="_blank">GitHub</a> 
      </p>
    </div>
  </div>
</footer>
