<hr class="section-separator">
<h1 id="home__title">
    My experiences </h1>
<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>2024</h2>
      <h2>Hydatis..</h2>
      <p></p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2023</h2>
      <h2>Marimex</h2>

      <p>In my 2-month Marimex internship, I developed a dynamic
        business website with Angular, Node.js, and MongoDB,
        showcasing expertise in cutting-edge web development</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2022</h2>
      <h2>Tunisaire</h2>

      <p>During my experience in the network branch in Tunisaire, I gained knowledge in Cisco systems, expanding my skills in networking and learning about Cisco technologies.</p>
    </div>
  </div>
</div>