<hr class="section-separator">
<h1 id="home__title">
    My projects </h1>
<section class="projects">
  
    <div class="container">
        <div class="project-card">
            <img src="./img/marimex.png" alt="Project image" class="project-image">
            <div class="project-info">
                <h2 class="project-title">Marimex</h2>
                <p class="project-description">
                    developed a dynamic
                    business website with Angular, Node.js, and MongoDB,
                    showcasing expertise in cutting-edge web development."                </p>
                <div class="project-actions">
                    <a href="https://marimexste.com/" class="project-link">View Project</a>
                    <a href="#" class="github-icon" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img src="./img/work1.png" alt="Project image" class="project-image">
            <div class="project-info">
                <h2 class="project-title">Event planner</h2>
                <p class="project-description">
                    I built this app using Qt, MySQL, and C++ to create a powerful and intuitive user interface with seamless integration to a MySQL database.                </p>
                <div class="project-actions">
                    <a href="project-link.html" class="project-link">View Project</a>
                    <a href="https://github.com/yasssmineee/eventplanner2A26" class="github-icon" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img src="./img/work2.jpg" alt="Project image" class="project-image">
            <div class="project-info">
                <h2 class="project-title">The time jumper</h2>
                <p class="project-description">
                    Coding with SDL 1.2 is a C library for coding graphical applications, while Photoshop is used for editing pictures                </p>
                <div class="project-actions">
                    <a href="project-link.html" class="project-link">View Project</a>
                    <a href="#" class="github-icon" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img src="./img/work3.png" alt="Project image" class="project-image">
            <div class="project-info">
                <h2 class="project-title">Avanti</h2>
                <p class="project-description">
                    I developed a website using Bootstrap, HTML,Api, CSS, JavaScript, PHP, and MySQL, combining the power of these technologies to create a visually appealing and dynamic web experience with database functionality                </p>
                <div class="project-actions">
                    <a href="project-link.html" class="project-link">View Project</a>
                    <a href="#" class="github-icon" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img src="./img/jobflow.png" alt="Project image" class="project-image">
            <div class="project-info">
                <h2 class="project-title">Jobflow</h2>
                <p class="project-description">
                    I developed a website using Bootstrap, HTML,Api, CSS, JavaScript, Symfony, and MySQL, combining the power of these technologies to create a visually appealing and dynamic web experience with database functionality                </p>
                <div class="project-actions">
                    <a href="project-link.html" class="project-link">View Project</a>
                    <a href="https://github.com/yasssmineee/Jobflow.git" class="github-icon" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                </div>
            </div>
        </div>
        <!-- Add more project-card elements as needed -->
    </div>
</section>
