<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<section id="home">
    <div id="description">
        <h1 id="home__title">
            Hello, I'm Alaeddine,<br>
          software engineer
        </h1>
    </div>
    <div id="home_container">
        <div id="about">
           <div id="bio">
                <h3 id="par_title">BIOGRAPHY</h3>
                <p>
                   
                        Passionate software engineer dedicated to designing and implementing innovative solutions for complex problems

                 </p>
            </div> 
            <div id="bio">
                <h3 id="par_title">Contact</h3>
                     <p>
                     alamdalla11gmail.com <br>
                +21628719397

                     </p>
            </div>
            <div id="bio">
                <h3 id="par_title">Services</h3>
                     <p>
                        Creating websites and desktop applications 

                     </p>
            </div>
           

        </div>
        <div>
            <div id="photo_conatiner">
                <div class="home__perfil">
                    <img id="imgtest" src="./img/perfil.jpg" alt="" >

                  </div>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/ala-mdalla-936a95250/"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/AlaMdalla"><i class="fab fa-github"></i></a>
               
            </div>
        </div>
        <div id="about">
            <div id="bio">
                 <h3 id="par_title">Completed Projects</h3>
           <h2>0{{projectCount}}+</h2>
             </div> 
             <div>
                 <h3 id="par_title">Happy client</h3>
                 <h2>
                    01
                 </h2>
             </div>
            
 
         </div>

    </div>
 
</section>
